.app {
  background: tomato;
  min-height: 100vh;
  padding: 50px 15px;
  text-align: center;
  color: #ffffff;
}

.container {
  max-width: 500px;
  margin: 0 auto;
}

.app-title {
  font-size: 60px;
}

.app-timer {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 30px;
}

.app-actions {
  margin-bottom: 30px;
}

.app-button {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  border: 0;
  background: #eee;
  margin: 0 5px;
  font-size: 20px;
}

.app-setting {
  margin-bottom: 20px;
}

.app-setting label,
.app-setting span {
  display: block;
}

.app-message {
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
